body{
	background-image: url("https://www.w3schools.com/css/img_tree.png");
	/*background-repeat: repeat-x;*/
	background-repeat: no-repeat;
	background-position: right top;
	margin-right: 200px;
	background-attachment: fixed;
}